.header {
    height: 10rem;
    width: 100%;
    background-color: #060120;
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #eeeeee;
    padding: 2rem 0 1rem 2rem;
}

a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}
.container-upload {
  padding: 3rem;
}
.h1 {
  margin-bottom: 3rem;
}

.label {
  font-size: 1.5rem;
}

.upload {
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  height: 5rem;
}
#hide input[type="file"] {
  display: none;
  margin: 10px;
}

.btn {
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.btn-upload {
  margin-top: 4rem;
}

