<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h1 class="h1">{{ players.name }}</h1>
            <table
              class="table table-hover table-striped table-bordered dataTable dtr-inline"
              id="users-table"
            >
              <tbody>
                <tr>
                  <td>AGE</td>
                  <td>{{ players.age }}</td>
                </tr>
                <tr>
                  <td>CITY</td>
                  <td>{{ players.location.City }}</td>
                </tr>
                <tr>
                  <td>PROVINCE</td>
                  <td>{{ players.location.Province }}</td>
                </tr>
                <tr>
                  <td>COUNTRY</td>
                  <td>{{ players.location.Country }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      @click="deletePlayer(players.id)"
      class="btn btn-primary btn-delete"
    >
      DELETE
    </button>
  </div>
</template>

<script>
</script>

<style scoped>
.table {
  width: 50%;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      players: [],
    };
  },
  created() {
    let app = this;
    let id = app.$route.params.id;
    //Get specific player detail API call
    axios.get("api/playerdetail/" + id).then((response) => {
      var newData = response.data.data;
      newData['location'] =JSON.parse(newData.location);      
      app.players = newData;

    });
  },
  methods: {
    //Delete APi CAlL
    deletePlayer(id) {
      let c = confirm("Do you really want to delete it");
      axios.delete("api/player/" + id).then((response) => {
        if ((response.suceess = "ture")) {
          this.$router.push({ name: "athlete-list" });
        }
        this.goBack();
      });
    },

    goBack() {
      this.$router.push({ name: "athlete-list" });
    },
  },
};
</script>
