<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <table
              class="table table-hover table-striped table-bordered dataTable dtr-inline"
              id="users-table"
            >
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>AGE</th>
                  <th>LOCATION</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="player in players" :key="player.id">
                  <td>{{ player.name }}</td>
                  <td>
                    <span>{{ player.age }}</span>
                  </td>
                  <td>
                    <span
                      >{{ player.location.City }},
                      {{ player.location.Province }}</span
                    >
                  </td>

                  <td class="action">
                    <a>
                      <router-link :to="'/athlete-detail/' + player.id"
                        >VIEW</router-link
                      ></a
                    >
                    <a href="#" @click="deletePlayer(player.id)">DELETE</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      players: [],
    };
  },
  created() {
    let currentObj = this;
    //Get ALL Player Api call
    axios.get("api/playerlist").then((response) => {
      var newData = response.data.data;
      console.log("result is = " + newData);
      currentObj.players = newData.map(function (data) {
        data.location = JSON.parse(data.location);
        return data;
      });
    });
  },
  methods: {
    //Delete  Player Api call
    deletePlayer(id) {
      let c = confirm("Do you really want to delete it");
      axios.delete("api/player/" + id).then((response) => {
        console.log("result is delete= " + response.data.message);
        let i = this.players.map((data) => data.id).indexOf(id);
        this.players.splice(i, 1);
      });
    },
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
}
</style>