<!--Dsipaly Player Details -->
<template>
  <div class="container-upload">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <h1 class="h1">Upload Athelete</h1>

          <div class="card-body">
            <div v-if="success != ''" id='info' class="alert alert-info">
              {{ success }}
            </div>
            <form @submit="formSubmit" ref="form_1" enctype="multipart/form-data">
              <div class="form-group">
                <label><strong>Files</strong></label>
                <div class="custom-file" style="display: flex; gap: 1rem">
                  <input type="file" name="files" ref="fileupload" class="custom-file-input form-control"
                  v-on:change="onFileChange"
                    id="customFile"
                  />

                  <label class="custom-file-label btn btn-primary" for="customFile">Browse</label>
                </div>
              </div>

              <button type="submit" @click="resetInput" :disabled="!file" class="btn btn-primary btn-block btn-upload">
                Upload
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
   
<script>
//axios import using call URL
import axios from "axios";
export default {
  mounted() {
    console.log("Component mounted.");
  },
  data() {
    return {
      name: "",
      file: "",
      success: "",
      error: "",
    };
  },
  methods: {
    resetInput() {
      this.form.files = null;
      this.$refs.fileupload.value=null;
    },
    onFileChange(e) {
      this.file = e.target.files[0];
      
       
    },
    formSubmit(e) {
      e.preventDefault();
      let currentObj = this;

      this.$refs.form_1.reset();
      

      const config = {
        headers: { "content-type": "multipart/form-data" },
      };

      let formData = new FormData();
      formData.append("file", this.file);
       this.file = null;

      
      // this.$refs.fileupload.value=null;
      axios
        .post("api/uploadplayers", formData, config)
        .then(function (response) {
          if (response.data.success != true) {
            currentObj.success = response.data.message;
          }
          if ((response.data.success != false)) {
            currentObj.success = response.data.message;
          }
        });
    },
  },
};
</script>

<style scoped>

</style>